@tailwind base;
@tailwind components;
@tailwind utilities;

/*================= Common CSS=============== */

.container{
    @apply w-[1136px] mx-auto max-w-[96%]
}

.primary_btn{
    @apply px-5 py-[10px] bg-[#FFC305] rounded-md font-medium hover:bg-[#323232] text-[#323232] hover:text-white cursor-pointer
}
.primary_btn-rounded{
    @apply px-5 py-[10px] bg-[#FFC305] rounded-3xl font-medium
}
.active{
    @apply text-[#323232] border-b-2 border-[#FFC305] font-bold
}

.link{
    @apply py-5 block px-[10px] hover:text-[#323232] hover:border-b-2 transition-all duration-100 hover:border-[#FFC305] hover:font-bold
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 15px !important;
    font-weight: 700 !important;
    padding: 10px 20px !important;


}

.swiper-button-prev, .swiper-button-next {
    align-items: center !important;
    justify-items: center !important;
    border: 2px solid #D8D8D8 !important;
    width: 44px !important;
    height: 44px !important;
    border-radius: 50% !important;
}
@media screen and (max-width: 400px) {
    .swiper-button-prev, .swiper-button-next {
        width: 34px !important;
        height: 34px !important;
    }
}

/*=============== Match section ===============*/

.match_tab .react-tabs__tab--selected {
    background: transparent !important;
    border-color: #FFC305 !important;
    border-bottom: 2px solid #FFC305 !important;
}

.matchSwiper{
    overflow: visible !important;
}

.matchSwiper .swiper-button-prev, .matchSwiper .swiper-button-next {
    top: -40px !important;
}

.matchSwiper .swiper-button-prev{
    right: 300px !important;
    left: auto !important;
}
.matchSwiper .swiper-button-next{
    right: 230px !important;
    left: auto !important;
}

@media screen and (max-width: 740px) {
    .matchSwiper .swiper-button-prev, .matchSwiper .swiper-button-next {
        display: none !important;
    }
}

/*================== News slider ==================*/

.newsSlider{
    overflow: visible !important;
}
.newsSlider .swiper-button-prev, .newsSlider .swiper-button-next {
    top: -35px !important;
}
.newsSlider .swiper-button-prev{
    right: 70px !important;
    left: auto !important;
}
.newsSlider .swiper-button-next{
    right: 10px !important;
    left: auto !important;
}

@media screen and (max-width: 400px) {
    .newsSlider .swiper-button-prev{
        right: 50px !important;
    }
    .newsSlider .swiper-button-prev, .newsSlider .swiper-button-next {
        top: -25px !important;
    }
}

/* =============Slider Css==================== */

.swiper-pagination-bullet{
    background: #D9D9D9 !important;
}
.swiper-pagination-bullet-active{
    background: #D9D9D9 !important;
    width: 15px !important;
    border-radius: 21px !important;
}

/* =====================Main content ===================== */
.rounded_left{
    border-bottom-left-radius: 500px !important;
    border-top-left-radius: 500px !important;
}
.rounded_right{
    border-bottom-right-radius: 500px !important;
    border-top-right-radius: 500px !important;
}
.content_tab .react-tabs__tab--selected{
    @apply bg-[#FFC305] rounded-none
}
.content_tab>:hover {
    @apply bg-[#FFC305] rounded-none
}


.customClass{
    background: #14A1FE;
    border-radius: 50px;
    overflow: hidden;
}
.customClass > div{
    border-radius: 0px !important;
}

/* Login Page */
.bg_image{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("../assets/Authentication/cover_image.jpg");
    background-size: cover;
}